

/*// GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Lato|Montserrat|Open+Sans|Raleway|Roboto|Tajawal|Oswald');
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Erica+One');
/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Oswald', sans-serif;
FONTS THAT ARE SUPER THIN FONT-WEIGHT: 100; (ROBOTO,MONTSERRAT)
*/




/*
///////////////////////////////////////////
/	        BLOCK                        //
/			ELEMENT						 //
/			MODIFIER					 //
///////////////////////////////////////////
*/


/*buttons*/
.button {
	display: block;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	background-color: #fff;
	font: 500 20px/25px Helvetica, arial;
	transition: 300ms;
}

.button:hover {
	cursor: pointer;
	text-decoration: none;
}

.button--state--primary {
	color: #fff;
	background-color: #666362;
}

.button--state--danger {
	color: #fff;
	background-color: #900;
}

/* IMAGES */
.images {
	width: 150px;
	height: 150px;
	border-radius: 5px;
}

/*LISTS*/
.lists {
	list-style-type: none;
	padding: 0;	
	margin-top: 20px;
	font-size: 1.25em;
}

/*BOX*/
.box {
	width: 90%;
	background-color: #F0F0F0;
	border-radius: 5px;
	height: 40vh;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.box--notif {
	width: 100%;
	height: 20%;
	/*background: linear-gradient(to bottom right, #99ff66 0%, #66ff99 35%);*/
	background-color: #48CFAD;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/*
///////////////////////////////////////////
/	        END OF						 //
/			BLOCK                        //
/			ELEMENT						 //
/			MODIFIER					 //
///////////////////////////////////////////
*/


/*navigation*/
.navbar {
	display: flex;
}
.home-button {
	color: #555;
	background-color: #fff;
}
.home-button:hover {
	color: #fff;
	background-color: #B6B6B4;
}
.logout-button {
	background-color: #fff;
	color: #900;
	border: 1px solid #900;
}
.logout-button:hover {
	background-color: #900;
	color: #fff;
}


/*footer*/
.footer {
	margin-top: 10vh;
	height: 20vh;
}
.icon {
	height: 70px;
	width: 70px;
	display: inline-block;
	transition: 300ms;
	background-color: black;
}

.icon--github {
	background: url("upload/icons/github.svg") no-repeat center;
}

.icon--fb {
	background: url("upload/icons/facebook.svg") no-repeat center;
}
.icon--insta {
	background: url("upload/icons/instagram.svg") no-repeat center;
}

/*Profile page*/
.profile-name {
	font-size: 1.5em;
}
.box-header {
	margin-left: 5px;
}

/*exam-processing*/
.after-exam {
	width: 50%;
	margin-left: 10px;
}
.after-exam p {
	color: #555;
	margin-left: 5px;
}



.sass {
	width: %;
}





























/*SIGNUP PAGE*/
.body-container {
	height: 100vh;
}

.welcome-text {
	color: #693E52;
}
.signup-box {
	margin-top: 25px;
	width: 100%;
	height: 450px;
	background-color: #74B49B;
	border-radius: 5px;
	box-shadow: 0px 19px 38px rgba(0,0,0, 0.3);
}

.left-input {
	width: 100%;
}

.submit-btn {
	background-color: #693E52;
	color: #74B49B;
	display: flex;
	margin: 10px;
}

.s-up-page {
	background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 3px solid #693E52;
	color: #693E52;
	font-size: 1.25em;
}

.s-up-page:focus {
	outline: none;
	background: #47856d;
	transition: .5s ease;
	border-bottom: 3px solid #814b64;
}

.label {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #693E52;
	font-size: 1.25em;
}
/*END OF SIGNUP PAGE*/


/*STUDENT-LOGIN PAGE*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.login-page {

	height: 100%;

    background:
      linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url("styleimages/loginbg.jpg") center no-repeat;
    background-size: cover;
}

.login-box {
	width: 350px;
	min-width: 250px;
	padding: 25px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	margin: auto;
}
.login-form {
	display: flex;
	flex-direction: column;
}



/*STUDENT PROFILE PAGE*/


.myprofilename {
	font-family: 'Lato', sans-serif;
	color: #333;
}
.links {
	text-decoration: none;
	color: #333;
}
.links:hover {
	text-decoration: none;
	color: #555;
}
/*END*/

/*CONTACT FORM*/

.form-group {
	
}

/*comment section*/

.comment {
	height: 500px;
}

.my_img {
	width: 200px;
	height: 200px;
	border-radius: 5px;
}


/*EXAM LIST PAGE*/

table, th, tr, td {
	padding: 10px;
	border: 1px solid #555;
}


/*TEST*/
.question {
	font-family: 'Tajawal', sans-serif;
	font-size: 20px;
	color: #555;
}
.choices {
	padding-left: 15px;
}

/*EXAMINATION PAGE @physics_y1_q1.php*/

.x-myBox {
	width: 50vw;
	height: 20vh;
}

.x-para1, #timeShow {
	font-size: 3em;
	font-family: Oswald;
	font-weight: 100;
	color: #555;
}

.x-mySpan {
	color: #00FF00;
	font-family: Oswald, sans-serif;
	font-weight: 900;
}

.x-myBtn {
	background-color: transparent;
	border: 1px solid #00FF00;
	color: #00FF00;
	font-family: Oswald,sans-serif;
	font-weight: 200;
	font-size: 2em;
	margin-top: 5px;
	padding: 10px;
	transition: 300ms;
}

.x-myBtn:hover {
	background-color: #00FF00;
	color: #fff;
	transition: 300ms;
	cursor: pointer;
}

.x-myHr {
	width: 15%;
	font-weight: 900;
	border: 4px solid #00FF00;
	background-color: #00FF00;
	margin-top: 4px;
}

/*UL  EXAM GUIDELINES*/
.x-exam-rules-list {
	list-style-type: circle;
	font-size: 1em;
	font-family: Oswald, sans-serif;
	color: #555;
	margin-left: 20px;
	padding-bottom: 20px;
}

.x-border-line {
	border-right: 5px solid #00FF00;
}
